replicaCount: {{ odoo_values.replicaCount }}
odooUsername: {{ odoo_values.odooUsername }}
odooPassword: {{ odoo_values.odooPassword }}
odooEmail: {{ odoo_values.odooEmail }}
postgresql:
  enabled: {{ odoo_values.postgresql.enabled }}
externalDatabase:
  enabled: {{ odoo_values.externalDatabase.enabled }}
